<div class="container">
  <div class="card">
    <div class="card-header badge-warning">Modifier le Produit</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onEditProduct(f.value)">
        <div class="form-group">
          <input type="hidden" name="id" ngModel [(ngModel)]=currentProduit.id>           
          <label  class="control-label">Libelle</label>
          <input class="form-control" type="text" name="libelle" ngModel  [(ngModel)]=currentProduit.libelle>
        </div>

        <div class="form-group">
          <label  class="control-label">Prix</label>
          <input class="form-control" type="number" min="0"  name="prix" ngModel [(ngModel)]=currentProduit.prix>
        </div>

        <div class="form-group">
          <label  class="control-label">Quantité</label>
          <input class="form-control" type="number" min="0" name="quantiteStk" ngModel [(ngModel)]=currentProduit.quantiteStk>
        </div>

        <div class="form-group">
          <label  class="control-label">Description</label>
          <textarea class="form-control" name="description" ngModel [(ngModel)]=currentProduit.description></textarea>
        </div>

        <div class="form-group">
          <label  class="control-label">Photo</label>
          <input class="form-control" type="text" name="photo" ngModel [(ngModel)]=currentProduit.photo>
        </div>

        <button class="btn badge-warning" type="submit">Modifier</button>
      </form>
    </div>
  </div>
</div>
